<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1 class="text-center">Admin Dashboard</h1>
    
    <%- include('./partial/adminfooter') %>
    <img src="/images/owl-g845508090_1280.png" style="width: 680px;">
    <!-- Logout Section -->
    
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
