<div class="col-md-4">
    <div class="card">
      <img src="" alt="" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <p class="card-text"></p>
        <div class="btn-group" role="group">
          <% include('./partial/meta') %>
          <h1 class="page-tittle">My Cart</h1>
          <br>
          <% if (this.item >0) { %>
            <table class="table table-stripped alignmiddle">
              <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
                <th>Subtotal</th>
              </tr>
              
                <tr>
                  <td><img src=" alt=" class="cp1"></td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="/carts/update/">+</a>&nbsp;
                    <a href="/carts/update/">-</a>&nbsp;
                    <a href="/carts/update/">clear</a>&nbsp;
                  </td>
                  <td>Rs</td>
                </tr>
            
              <tr>
                <td colspan="6" align="right">
                  <b>Total:</b> 
                </td>
              </tr>
              <tr>
                <td colspan="5" align="right">
                  <button>
                    <a class="btn btn-danger" href="/carts/clear">Clear cart</a>
                  </button>
                </td>
                <td colspan="5" align="right">
                  <button>
                    <a class="btn btn-primary buynow" href=" ">Buy now</a>
                  </button>
                </td>
              </tr>
            </table>
          <% } else { %>
            <div class="container">
              <h1>Your cart is empty</h1>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  
  <style>
    img.cp1 {
      width: 100px;
    }
    table.alignmiddle td {
      vertical-align: middle !important;
    }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  





