<%- include('./partial/meta') %>
<%- include('./partial/home') %>
<h1 class="page-title">Edit category</h1>
<br><br>
<form method="post" action="/category/editpage/<%=_id %>">
<div class="from-group">
    <label for="category">category:</label>
    <input type="text" name="title" id="category" required />
    <button type="submit">Add Category</button>
</div>
</form>
