<%-include('./partial/meta');-%>
<%-include('./partial/css'); -%>


<body>
    <!-- header section starts-->
    <header class="header">
      <div class="header-1">
     <a href="" class="logo"><i class="fas fa-book"> bookly</i></a>
      <form action="" class="from-box">
        <input type="search" name="" placeholder="search here..." id="search-box">
        <label for="search-box"><i class="fas fa-search"></i></label>
      </form>
      </div>
    
      <%-include('./partial/navbar'); -%>
    <!-- bottom navbar ends -->
     <!--home section start-->
<section class="home" id="home">
  <div class="row">
  <div class="content">
    <h3>upto 55% offers</h3>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.corrupti sapiente eos evisquam voluptatibus, cum quod.</p>
  <a href="#" class="btn">shop now</a>
  </div>
</div>


  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/book1 (1).jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/book4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/book3.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  
</section>

      <!--home section ends-->

<!--icons section start-->
<%-include('./partial/footer'); -%>