<%- include('./partial/meta') %>
<%- include('./partial/home') %>
<h2 class="page-title">Pages</h2>
<a href="/addpages" class="btn ">Add new page</a>
<br><br>
<table class=" table table-stripped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>

    <tr>
        <td></td>
        <td><a href="/pages/editpage/">edit</td>
            <td><a href="/pages/deletepage/">Delete</td>
        <td></td>
    </tr>

    </tbody>
</table>
<style>
    .btn{
  color: #fff;
  background-color:#ECBADB;
  border-color:#ECBADB;
}

.btn :hover {
  background-color: #ECBADB;
  border-color: #ECBADB;
}
</style>
 