<%- include('./partial/meta') %>
<%- include('./partial/home') %>

<h2 class="page-title">Products</h2>
 <!-- Added space between Add and Product -->
<a href="/addproduct" class="btn">Add a product</a>
<br><br> 


<style>
    .btn {
        color: #fff;
        background-color: #ECBADB;
        border-color: #ECBADB;
    }

    .btn:hover {
        background-color: #ECBADB;
        border-color: #ECBADB;
    }
</style>
