<%-include('./partial/meta');-%>
<%-include('./partial/css'); -%>
<form action="/register" method="POST">
   
    <div class="form-box">
      <h1>Register</h1>
      <div class="input-box">
        <label for="name">
          <i class="fa fa-user" aria-hidden="true"></i>
        </label>
        <input type="text" id="name" name="name" placeholder="Full name">
      </div>
      <div class="input-box">
        <label for="email">
          <i class="fa-regular fa-envelope"></i>
        </label>
        <input type="text" id="email" name="email" placeholder="Email Id">
      </div>
      <div class="input-box">
        <label for="password">
          <i class="fa-sharp fa-solid fa-key"></i>
        </label>
        <input type="password" id="password" name="password" placeholder="Password">
        
      </div>
      <div class="input-box">
        <label for="confirm-password">
          <i class="fa-sharp fa-solid fa-key"></i>
        </label>
        <input type="password" id="confirm-password" name="confirmpassword"
         placeholder="Confirm Password">
         
      </div>
      <button type="submit" class="login-btn">Register</button>
      <div class="alert ">
        <% if(typeof message !='undefined' && message.length > 0) { %>
          <div>
            <%= message %>
          </div>
        <% } %>
    </div>
  </form>
  
  