

<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Navbar</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg ">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
       
        <li class="nav-item">
          <a class="nav-link" href="/admin/dashboard/product">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/dashboard/orderdetail">Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
<style>
    .navbar {
      background-color:#ECBADB;
    }
  .navbar-nav .nav-link {
    margin-right: 1rem;
    color: white;
  }
  .navbar-brand {
    color: white;
  }
  .navbar-nav .nav-item:last-child .nav-link {
    margin-right:25rem;
   
  }
</style>


