<section class="icons-container">
    <div class="icons">
      <i class="fas fa-paper-plane"></i>
      <div class="content">
        <h3>Free Shipping</h3>
        <p>Order over 2000rs</p>
      </div>
    </div>
  
    <div class="icons">
      <i class="fas fa-lock"></i>
      <div class="content">
        <h3>Secure payment</h3>
        <p>100 Secure payment</p>
      </div>
    </div>
  
    <div class="icons">
      <i class="fas fa-redo-alt"></i>
      <div class="content">
        <h3>Easy return</h3>
        <p>24 hours</p>
      </div>
    </div>
  
    <div class="icons">
      <i class="fas fa-headset"></i>
      <div class="content">
        <h3>24/7 support</h3>
        <p>call us anytime</p>
      </div>
    </div>
  </section>
  
  <!--icons section ends-->
  <!--footer section starts-->
  <section class="footer">
    <div class="box-container">
      <div class="box">
        <h3>About Us</h3>
        <p>an online bookstore software project that acts as a central database containing various books in stock.</p>
  
      </div>
      <div class="box">
        <h3>Contact info</h3>
        <a href="#"> <i class="fas fa-phone"></i>9861234567</a>
        <a href="#"> <i class="fas fa-phone"></i>9861238765</a>
          <a href="#"> <i class="fas fa-envelope"></i>bookly@gmail.com</a>
    </div>
  </div>
    <div class="share">
      <a href="#" class="fab fa-facebook-f"></a>
      <a href="#" class="fab fa-twitter"></a>
      <a href="#" class="fab fa-instagram"></a>
      <a href="#" class="fab fa-linkedin"></a>
    </div>
  
  </section>
  <!--footer section ends-->