<div class="header-2">
    <div class="navbar">
    <a href="/">Home</a>
    <a href="aboutus">Aboutus</a>
    <a href="/contact">Contact</a>
    <a href="/services">Services</a>  
    <% if (userDetail!==undefined){ %>
      <a href="/myprofile"> <%= userDetail.name %> </a> 
      <a href="/products">Products</a>
      <a href="/logout"> Logout </a> 
    <% } else { %>
      <a href="./login">login</a>
      <% } %>
    </div>



   
    
</div>
 </header>

<!-- header section ends-->
<!-- bottom navbar start -->
<div class="bottom-navbar">
  <a href="#home" class="fa-solid fa-house"></a> 
  <a href="#categories"class="fas fa-list"></a>
  <a href="#contact"class="fas fa-address"></a>
  <a href="#carts" class="fa-solid fa-cart-shopping"></a>
  <a href="./login" class="fa-sharp fa-solid fa-right-to-bracket"></a>
  
</div>