<div class="header-2">
    <div class="navbar">
    <a href="/">home</a>
    <a href="#categories">categories</a>
    <a href="#contact">contact</a>
    <a href="./login">login</a>
   
    
  </div>
</div>
 </header>
<!-- header section ends-->
<!-- bottom navbar start -->
<div class="bottom-navbar">
  <a href="#home" class="fa-solid fa-house"></a> 
  <a href="#categories"class="fas fa-list"></a>
  <a href="#contact"class="fas fa-address"></a>
  <a href="#carts" class="fa-solid fa-cart-shopping"></a>
  <a href="./login" class="fa-sharp fa-solid fa-right-to-bracket"></a>
  
</div>